.btn {
    background-color: $grayButton;
    color:#ffffff;
    border: none;
    border-radius: .625rem;
    font-size: .875rem;
    padding: .6rem 1rem;
    font-weight: bold;
    margin-bottom: 20px;
    
    @mixin atSmall {
        font-size: .875rem;
        padding: .875rem 1.25rem;
    }
    
}

.btn:hover {
    background-color: black;
}

.btn:focus{
    outline-style: none;
}