.btn {
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: bold;
    color:#ffffff;
    background-color: $grayButton;
    border: none;
    border-radius: .725rem;
    padding: .7rem 1.2rem;
    margin-bottom: 20px;
    
    

    @mixin atSmall {
        padding: .875rem 1.35rem;
    }
    
}

.btn:hover {
    background-color: black;
}

.btn:focus{
    outline-style: none;
}