.exp {
    
    &__office {
        font-size: 1.18rem;
        margin-top: 22px;

        @mixin atSmall {
            font-size: 1.25rem;
            margin-bottom: 0;
        }
    
        @mixin atMedium {
            font-size: 1.375rem;
        }
    
        @mixin atLarge {
            font-size: 1.5rem;
        }
    }

    &__company {
        font-size: 1rem;
        margin-top: 22px;

        @mixin atSmall {
            font-size: 1.18rem;
            max-width: 200px;
        }
    
        @mixin atMedium {
            font-size: 1.25rem;
            
        }
    
        @mixin atLarge {
            font-size: 1.375rem;
        }
    }

    &__time {
        font-size: .812rem;
        line-height: 0.2;

        @mixin atSmall {
            font-size: .875rem;
        }
    
        @mixin atMedium {
            font-size: .937rem;
        }
    
        @mixin atLarge {
            font-size: 1rem;
        }
    }

    &__description {
        line-height: 1.6;
        margin-bottom: 60px;

        @mixin atSmall {
            margin-bottom: 20px;
        }
    }

    &__img {
        display: none;

        @mixin atMedium {
            display: initial;
           
        }
    }
   
}