.intro {
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 100vh;
    padding-top: 50px;

    @mixin atSmaller {
        padding-top: 0;
    }
    @mixin atLarge {
        padding-top: 90px;
    }    
    
    @mixin atSmall {
        text-align: left;
    }

    &__wellcome {
        font-size: 0.875rem;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        color: $grayWellcome;
        margin-bottom: -10px;
        
        @mixin atSmaller {
            font-size: 1rem;
        }
        @mixin atMedium {
            margin-bottom: -20px;
        }
    }

    &__name {
        text-transform: uppercase;
        color: $grayName;
        font-size: 1.5rem;
        margin-bottom: -5px;

        @mixin atSmaller {
            font-size: 2.25rem;
        }

        @mixin atMedium {
            font-size: 2.75rem;
        }
    }

    &__description {
        font-size: 0.875rem;
        letter-spacing: 0.02rem;
        line-height: 1.5rem;
        color: $grayDescription;
        margin-bottom: 33px;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        
        @mixin atSmaller {
            font-size: 1rem;
        }
        @mixin atSmall {
            margin-left: 0px;
        }

        @mixin atMedium {
            font-size: 1.125rem;
            margin-bottom: 33px;
            max-width: 380px;
        }
    }

    &__img {
        picture {
            display: none;
        }
        @mixin atSmall {
            picture {
                display: block;
            }

            picture img {
                width: 100%;
                height: 100%;
            }
        }
    }
}