.portfolio {
    &__list {
        margin-bottom: 30px;

        ul {
            text-align: center;
            padding-right: 15px;
            
            @mixin atSmall {
                padding-left: 20px;
            }
    
            @mixin atMedium {
                padding-left: 20px;
            }

            @mixin atLarge {
                padding-left: 60px;
            }
        }

        a {
           background-color: transparent;
           border-radius: 0;
           box-shadow: none;
        }
    }

    &__centered {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}