.primary-nav {
    ul {
        text-align: center;
        margin: 0;
        padding: 0;     
    }
    
    &__align-right {
        ul {
            @mixin atMedium {
                text-align: right;
            }
        }
    }

    &__padding-top {
        padding-top: 35px;

        @mixin atSmaller {
            padding-top: 50px;
        }
    
        @mixin atSmall {
            padding-top: 35px;
        }
    }

    li {
        display: inline-block;
        list-style: none;
        padding-right: 10px;
        padding-bottom: 10px;

        @mixin atSmall {
            padding-bottom: 0px;
        }

        @mixin atMedium {
            padding-right: 40px;
        }
    }

    li:last-child {
        padding-right: 0;
    }

    li:first-child {
        padding-left: 20px;

        @mixin atSmall {
            padding-left: 0;
        }
    }

    a {
        color: rgba($grayTitle, .7);
        text-decoration: none;
        text-transform: uppercase;
        font-size: .625rem;
        letter-spacing: 0.1rem;
        padding: 3px 10px;
        background-color: rgba($grayTitle, .1);
        border-radius: .400rem;border-radius: .400rem;
        box-shadow:  0px 5px 12px 0px rgba(0, 0, 0, 0.2);

        @mixin atSmaller {
            font-size: .75rem;
        }
        @mixin atSmall {
            font-size: .875rem;
        }

        @mixin atMedium {
            border: none;
            box-shadow: none;
            padding: 0;
            background-color: transparent;
        }
    }

    &__without-style {
        a {
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
        }
        
        li:first-child { 
            padding-left: 0;
        }
    }

    &__link{
        position: relative;
    }
      
    &__link:after{
        content: '';
        position: absolute;
        width: 0; height: 3px;
        display: block;
        margin-top: -11px;
        margin-left: -10px;
        left: 0;
        background: rgba($grayTitle, .5);
        transition: width .4s ease;
        border-radius: .500rem;
      }
       
    &__link:hover:after{
        display: none;

        @mixin atMedium {
            display: block;
            width: 100%;
            padding-right: 19px;
            right: 0;
            background: rgba($grayTitle, .5);
        }
    }
}