.row {
    display: block;
    overflow: hidden;

    &--gutters {
        margin-right: -68px;
    }
   
    &--gutters > div {
        padding-right: 68px;
    }
    
    &--1 {
        @mixin atSmall {
            float: left;
            width: 8.33%;
        }
    }

    &--2 {
        @mixin atSmall {
            float: left;
            width: 16.66%;
        }
    }

    &--3 {
        @mixin atSmall {
            float: left;
            width: 25%;
        }
    }

    &--4 {
        @mixin atSmall {
            float: left;
            width: 33.33%;
        }
    }

    &--5 {
        @mixin atSmall {
            float: left;
            width: 41.66%;
        }
    }

    &--6 {
        @mixin atSmall {
            float: left;
            width: 50%;
        }
    }

    &--7 {
    
        @mixin atSmall {
            float: left;
            width: 58.33%;
            }
    }

    &--12 {
    
        @mixin atSmall {
            float: left;
            width: 100%;
            }
    }

    &--spacing {
        margin-top: 50px;
        margin-bottom: 24px;
    }

    &--spacing__div {

        @mixin atMedium {
            padding-top: 40px;
        }
    }
}