.row {
    display: block;
    overflow: hidden;

    &--1 {
    
        @mixin atSmall {
            float: left;
            width: 8.33%;
        }
    }

    &--2 {
    
        @mixin atSmall {
            float: left;
            width: 16.66%;
        }
    }

    &--3 {
    
        @mixin atSmall {
            float: left;
            width: 25%;
        }
    }

    &--4 {
    
        @mixin atSmall {
            float: left;
            width: 33.33%;
        }
    }

    &--5 {
    
        @mixin atSmall {
            float: left;
            width: 41.66%;
        }
    }

    &--6 {
    
        @mixin atSmall {
            float: left;
            width: 50%;
        }
    }

    &--7 {
    
        @mixin atSmall {
            float: left;
            width: 58.33%;
            }
    }

    &--clearFloat {
        clear: both;
    }
}