.row {
   
    @mixin clearfix{};

    &--small-gutters {
        @mixin atMedium {
            margin-right: -10px;
        }
        
    }
   
    &--small-gutters > div {
        @mixin atMedium {
            padding-right: 10px;
        } 
    }

    &--medium-gutters {
        @mixin atMedium {
            padding-right: -20px;
        }
        
    }
   
    &--medium-gutters > div {
        @mixin atMedium {
            margin-right: 20px;
        } 
    }

    &--gutters {
        @mixin atMedium {
            margin-right: -68px;
        }
    }
   
    &--gutters > div {
        @mixin atMedium {
            padding-right: 68px;
        }   
    }

    &--1 {
        float: left;
        width: 11%;
    }

    &--3 {
        float: left;
        width: 100%;
    }

    @mixin atSmall {
        &--small-3 {
            float: left;
            width: 33%;
        }

        &--small-4 {
            float: left;
            width: 33.33%;
        }

        &--small-5 {
            float: left;
            width: 41.66%;
        }

        &--small-6 {
            float: left;
            width: 50%;
        }

        &--small-7 {
            float: left;
            width: 58.33%;
        }

        &--small-12 {
            float: left;
            width: 100%;
        }
    }

    @mixin atMedium {
        &--medium-3 {
            float: left;
            width: 25%;
        }

        &--medium-4 {
            float: left;
            width: 32%;
        }

        &--medium-5 {
            float: left;
            width: 40%;
        }

        &--medium-6 {
            float: left;
            width: 50%;
        }
    }

    @mixin atLarge {
        &--large-3 {
            float: left;
            width: 33%;
        }
    }

 
}