.site-header {
    position: relative;
    padding: 30px 0;
    width: 100%;
    z-index: 2;
   
    &__logo {
        position: absolute;
        top: 0;
    }

    &__menu-icon {
        width: 20px;
        height: 20px;
        background-color:white;
        position: absolute;
        top: 10px;
        right: 35px;

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-content {
        display: none;

        @mixin atMedium {
            display: block;
        }
    }

    
}